services:
  app:
    image: nilsleo/kcc-web:latest
    container_name: mangaconverter-foss-app
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      - USER_ID=501 # determine this by running id <your-username> on your host
      - GROUP_ID=20 # determine this by running id -g <your-username> on your host
      - TZ=Europe/Berlin # set your timezone
      - NEXT_PUBLIC_MAX_FILES=10 # Max files that can be uploaded at once
      - CELERY_WORKERS=2 # number of celery worker containers - allow you to process multiple conversions simultaneously but also consume more resources with every instance
    volumes:
      # persist data on the host machine in order to not lose converted files once the container is removed
      - ./volumes/data:/data # contains DB and converted files
      - ./volumes/kindlegen:/opt/backend/kindlegen:ro # mount  KindleGen binary; obtain from https://archive.org/details/kindlegen and place it in this folder

